# Server
PORT=3003

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Redis
REDIS_URL=redis://localhost:6379

# Other Services
USER_SERVICE_URL=http://localhost:3000
QUESTION_SERVICE_URL=http://localhost:3001